/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: GothamProReg; src: url("fonts/gothaproreg.eot"); src: url("fonts/gothaproreg.eot?#iefix") format("embedded-opentype"), url("fonts/gothaproreg.woff") format("woff"), url("fonts/gothaproreg.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: GothamProMed; src: url("fonts/gothapromed.eot"); src: url("fonts/gothapromed.eot?#iefix") format("embedded-opentype"), url("fonts/gothapromed.woff") format("woff"), url("fonts/gothapromed.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: KlinicslabBold; src: url("fonts/klinicslabbold.eot"); src: url("fonts/klinicslabbold.eot?#iefix") format("embedded-opentype"), url("fonts/klinicslabbold.woff") format("woff"), url("fonts/klinicslabbold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { background: #e6e9ed; font-family: "GothamProReg", Arial, sans-serif; font-size: 12px; line-height: 1.4; color: #434a54; }

a { color: #3bafda; text-decoration: none; }

input, textarea, button { font-family: "GothamProReg", Arial, sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 12px; }

button { background: none; }

.l-center { width: 1000px; margin: 0 auto; }

.main { background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

.main__layout { width: 680px; margin: 0 auto; }

.main__in { display: table-cell; width: 680px; height: 100vh; padding: 100px 0 50px; vertical-align: middle; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.main__center { display: inline-block; width: 680px; }
.main__center .logo-circle { margin-bottom: 40px; }

.main__form { margin-bottom: 45px; }
.main__form .btn-blue { border-radius: 0 0 4px 4px; }

.main__question { margin-bottom: 35px; font-family: "GothamProMed", Arial, sans-serif; color: white; font-size: 30px; text-shadow: 0 1px 3px black; line-height: 1.2; }

.main__answer { padding: 12px; border-radius: 4px 4px 0 0; background-color: #434953; }
.main__answer input { width: 100%; height: 46px; padding: 15px; box-shadow: 0 0 0 2px #353b43; border-radius: 4px; font-size: 16px; }
.main__answer input:-moz-placeholder, .main__answer input::-moz-placeholder { color: #434a54; opacity: 1; }
.main__answer input::-webkit-input-placeholder { color: #434a54; }

.main__message { text-align: center; color: white; }

.main__pager { margin-bottom: 50px; text-align: center; font-size: 0; }
.main__pager button { width: 10px; height: 10px; margin: 0 7px; border: 1px solid white; border-radius: 50%; }
.main__pager button.is-active { background: white; }

.topper { position: absolute; top: 0; left: 0; right: 0; height: 48px; padding-left: 20px; background: white; border-bottom: #cccccc 2px solid; *zoom: 1; }
.topper:after { content: " "; display: table; clear: both; }

.topper__right { float: right; }
.topper__right a { float: left; width: auto; height: 48px; font-family: "GothamProMed", Arial, sans-serif; line-height: 48px; color: white; font-size: 12px; text-transform: none; }
.topper__right .topper__enter { padding: 0 30px; border-left: #e6e9ed 1px solid; color: #4fc1e9; }

.topper__fb .ico-fb { margin-left: 10px; }

.ico-fb { position: relative; top: 3px; display: inline-block; background: url('../img/icons-sada4dca536.png') 0 -709px no-repeat; width: 8px; height: 15px; }

.logo { float: left; height: 48px; font-family: "KlinicslabBold", Arial, sans-serif; font-size: 30px; color: #656d78; line-height: 48px; letter-spacing: -1px; }

.logo-circle { display: inline-block; background: url('../img/icons-sada4dca536.png') 0 0 no-repeat; width: 201px; height: 201px; }

.btn-blue, .btn-dark-blue { width: 100%; height: 48px; padding: 0 15px; border-bottom: 2px solid; line-height: 48px; text-align: center; font-size: 20px; color: white; text-transform: uppercase; }

.btn-blue { background: #4fc1e9; border-color: #3f9aba; }

.btn-dark-blue { background: #6c86bf; border-color: #566b99; }

.join__in { position: relative; }

.join__pics-left, .join__pics-right { position: absolute; top: 0; bottom: 0; }
.join__pics-left li, .join__pics-right li { position: absolute; left: 0; right: 0; height: 33.3%; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.join__pics-left li.join__pics-1, .join__pics-right li.join__pics-1 { top: 0; height: 33.4%; }
.join__pics-left li.join__pics-2, .join__pics-right li.join__pics-2 { top: 33.4%; }
.join__pics-left li.join__pics-3, .join__pics-right li.join__pics-3 { top: 66.7%; }

.join__pics-left { left: 0; right: 50%; margin-right: 450px; }

.join__pics-right { right: 0; left: 50%; margin-left: 450px; }

.join__pics-horizontal { white-space: nowrap; font-size: 0; overflow: hidden; }
.join__pics-horizontal li { display: inline-block; vertical-align: top; }

.join__center { position: relative; width: 900px; margin: 0 auto; padding-top: 50px; background: white; text-align: center; z-index: 2; }

.join__plus { margin-bottom: 25px; font-size: 0; }
.join__plus i { display: inline-block; background: url('../img/icons-sada4dca536.png') 0 -211px no-repeat; width: 201px; height: 201px; }

.join__title { margin-bottom: 15px; font-family: "GothamProMed", Arial, sans-serif; font-size: 24px; }

.join__title-sub { margin-bottom: 25px; font-size: 14px; }

.join__form { width: 340px; margin: 0 auto; }
.join__form .btn-blue { margin-bottom: 20px; border-radius: 0 0 4px 4px; font-size: 11px; }
.join__form .btn-dark-blue { height: 40px; margin-bottom: 25px; border-radius: 4px; line-height: 40px; }
.join__form .ico-fb { margin-right: 10px; }

.join__fieldset { border: 1px solid #e6e9ed; border-width: 2px 2px 0; border-radius: 4px 4px 0 0; }

.join__field { border-top: 1px solid #e6e9ed; }
.join__field input { width: 100%; height: 47px; padding: 0 17px; font-size: 14px; }
.join__field input:-moz-placeholder, .join__field input::-moz-placeholder { color: #434a54; opacity: 1; }
.join__field input::-webkit-input-placeholder { color: #434a54; }
.join__field:first-child { border: none; }

.join__info { padding-bottom: 25px; }

.about { position: relative; background: white; }

.about__layout { width: 800px; margin: 0 auto; }

.about__in { display: table-cell; width: 800px; height: 100vh; padding: 80px 0; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.about__center { text-align: center; }
.about__center .logo-circle { margin-bottom: 40px; }

.about__title { margin-bottom: 5px; font-family: "GothamProMed", Arial, sans-serif; font-size: 16px; }

.about__title-sub { margin-bottom: 40px; font-size: 14px; line-height: 1.6; }

.about__join { width: 340px; margin: 0 auto; }
.about__join button { width: 100%; }
.about__join .btn-blue { border: none; border-radius: 4px 4px 0 0; }
.about__join .btn-dark-blue { border-radius: 0 0 4px 4px; font-size: 11px; }
.about__join .ico-fb { margin-right: 10px; }

.footer { position: absolute; left: 0; right: 0; bottom: 0; padding: 15px 20px; }

.links { float: right; }
.links ul, .links li { float: left; }
.links li { padding-left: 30px; }
.links li:first-child { padding: 0; }
.links a { display: block; color: #aab2bd; }
.links i, .links span { display: inline-block; vertical-align: middle; }
.links i { margin-right: 10px; }

.links__ico-1 { background: url('../img/icons-sada4dca536.png') 0 -502px no-repeat; width: 16px; height: 15px; }

.links__ico-2 { background: url('../img/icons-sada4dca536.png') 0 -477px no-repeat; width: 12px; height: 15px; }

.links__ico-3 { background: url('../img/icons-sada4dca536.png') 0 -422px no-repeat; width: 10px; height: 15px; }

.copyright { color: #aab2bd; }
.copyright a { color: #aab2bd; }

.header { height: 50px; background: white; border-bottom: 1px solid #e6e9ed; }
.header .l-center { *zoom: 1; }
.header .l-center:after { content: " "; display: table; clear: both; }
.header .logo { margin-right: 35px; }
.header .links { margin-top: 15px; }

.search-form { float: left; width: 240px; margin-top: 10px; }
.search-form label { position: relative; display: block; }
.search-form input { width: 100%; height: 30px; padding: 0 15px 0 30px; background: #e6e9ed; border-radius: 15px; }
.search-form input:-moz-placeholder, .search-form input::-moz-placeholder { color: #434a54; opacity: 1; }
.search-form input::-webkit-input-placeholder { color: #434a54; }
.search-form i { position: absolute; top: 7px; left: 10px; background: url('../img/icons-sada4dca536.png') 0 -683px no-repeat; width: 16px; height: 16px; }

.header__user { float: right; margin: 5px 0 0 25px; }
.header__user img, .header__user i { display: inline-block; vertical-align: middle; }
.header__user img { border-radius: 50%; }
.header__user i { margin-left: 6px; width: 0px; height: 0px; border-style: solid; border-width: 6px 5px 0 5px; border-color: #656d78 transparent transparent transparent; }

.nav { margin-bottom: 20px; background: white; font-size: 0; }
.nav li { display: inline-block; width: 25%; border-right: 1px solid #e6e9ed; vertical-align: top; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.nav li:first-child { border-left: 1px solid #e6e9ed; }
.nav li.is-active a:after { content: ""; position: absolute; left: -1px; right: -1px; bottom: 0; height: 4px; background: #fc6e51; }
.nav a { position: relative; display: block; height: 90px; line-height: 90px; text-align: center; font-size: 16px; color: #434a54; }
.nav i, .nav span, .nav strong { display: inline-block; vertical-align: middle; }
.nav i { margin-right: 10px; }
.nav strong, .nav span { line-height: 30px; }
.nav strong { width: 30px; height: 30px; margin-left: 10px; background: #ed5565; border-radius: 50%; font-family: "GothamProMed", Arial, sans-serif; font-size: 12px; text-align: center; color: white; }

.nav__ico-1 { background: url('../img/icons-sada4dca536.png') 0 -646px no-repeat; width: 30px; height: 27px; }

.nav__ico-2 { background: url('../img/icons-sada4dca536.png') 0 -567px no-repeat; width: 32px; height: 28px; }

.nav__ico-3 { background: url('../img/icons-sada4dca536.png') 0 -527px no-repeat; width: 25px; height: 30px; }

.nav__ico-4 { background: url('../img/icons-sada4dca536.png') 0 -605px no-repeat; width: 30px; height: 31px; }

.layout { *zoom: 1; }
.layout:after { content: " "; display: table; clear: both; }

.layout__section { float: left; width: 680px; }

.l-col2 { float: right; width: 300px; }
