// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
+font(GothamProReg, gothaproreg)  
=reg
	font-family: "GothamProReg", Arial, sans-serif 
+font(GothamProMed, gothapromed)  
=med
	font-family: "GothamProMed", Arial, sans-serif 
+font(KlinicslabBold, klinicslabbold)  
=font
	font-family: "KlinicslabBold", Arial, sans-serif 
	

@mixin rt($media)
	@if $media == h700
		@media only screen and (max-height: 700px) and (min-width: 1000px)
			@content
	@if $media == 1k
		@media only screen and (max-width: 1020px)
			@content
	@if $media == more1k
		@media only screen and (min-width: 1020px)
			@content

*
	//box-shadow: 0 0 0 1px red


$bl: #4fc1e9
$bl-b: #3f9aba
$bld: #6c86bf
$bld-b: #566b99
$fc: #434a54
$link: #3bafda
$red: #ed5565
$org: #fc6e51
$bg: #e6e9ed
$gray: #656d78
	
body
	background: $bg 
	+reg
	font-size: 12px 
	line-height: 1.4
	color: $fc
	-webkit-font-smoothing: antialiased
	&.no-scroll
		overflow: hidden
a
	color: $link 
	text-decoration: none
input, textarea, button
	+reg
	+box
	font-size: 12px
	color: $fc 
button
	background: none 

// common blocks
.wrapper
	min-width: 320px
	+rt(1k)
		padding-bottom: 27px
		&.wrapper_landing
			padding: 0
.l-center
	width: 1000px
	margin: 0 auto
	+rt(1k)
		width: auto
		padding: 0 10px


.login
	float: right
	a
		float: left
		width: auto
		+med
		color: #fff 
		font-size: 12px
		text-transform: none
		+rt(1k)
			float: none
			display: table-cell
	.login__enter
		height: 50px
		padding: 0 30px 
		border-left: $bg 1px solid
		line-height: 48px
		text-align: center
		color: $bl 
		+rt(1k)
			border-bottom: #CCC 2px solid 
.login__fb
	.ico-fb
		margin: 0 0 0 10px


.logo
	float: left
	height: 50px
	+font
	font-size: 30px
	color: #656d78
	line-height: 50px 
	letter-spacing: -1px 
	

.logo-circle
	display: inline-block
	+s(logo-circle)



.btn
	width: 100%
	height: 50px
	padding: 0 15px
	border-bottom: 2px solid
	background: $bl 
	border-color: $bl-b
	+box
	line-height: 48px
	text-align: center
	font-size: 20px
	color: #FFF
	text-transform: uppercase
.btn_fb
	background: $bld 
	border-color: $bld-b
.btn_small
	height: 40px
	line-height: 38px
.btn_orange
	background: #fc6e51
	border-color: #ca5841 
.btn_black
	background: #434a54
	border-color: #363b43 
	


.footer
	position: absolute
	left: 0
	right: 0
	bottom: 0
	padding: 15px 20px
	+rt(1k)
		position: relative
		padding: 15px 20px 40px
.links
	float: right
	+rt(1k)
		float: none
		overflow: hidden
	ul, li
		float: left
	li
		margin-left: 30px
		&:first-child
			margin: 0
		+rt(1k)
			margin-left: 20px
			&:first-child
				margin: 0
	a
		display: block
		color: #AAB2BD 
	i, span
		display: inline-block
		vertical-align: middle
	i
		margin-right: 10px
.links__ico-1
	+s(links-ico1)
.links__ico-2
	+s(links-ico2)
.links__ico-3
	+s(links-ico3)
.copyright
	float: left
	color: #AAB2BD
	a
		color: #AAB2BD 
	+rt(1k)
		float: none
		margin-bottom: 20px


.header
	position: relative
	height: 50px
	padding-bottom: 90px
	margin-bottom: 20px
	+rt(1k)
		padding-bottom: 49px
		margin-bottom: 10px
	.l-center
		+clr
	.logo
		margin-right: 35px 
		+rt(1k)
			position: absolute
			top: 0
			left: 50%
			margin: 0 0 0 -57px 
	.login
		margin-left: 30px
	.links
		margin-top: 15px
		text-align: center
		font-size: 0
		li
			margin-left: 25px
			font-size: 12px
			&:first-child
				margin: 0
		+rt(1k)
			position: fixed
			left: 0
			right: 0
			bottom: 0
			margin: 0
			padding: 10px
			background: rgba(0,0,0,.8)
			z-index: 200 
			li
				float: none
				display: inline-block
				vertical-align: middle
				font-size: 12px
	&.is-fixed
		+rt(more1k)
			padding-bottom: 0px
			z-index: 200 
			.header__in
				position: fixed
				top: 0
				left: 0
				right: 0
			.nav
				position: relative
				left: auto
				right: auto
				top: auto
				float: right
				margin-left: 30px
				border: none
				.l-center
					width: 400px
				li
					&.is-active
						a
							&:after
								bottom: -1px
				a
					height: 50px
					line-height: 50px
				i
					top: 8px
					margin: 0
				span
					display: none
				strong
					position: absolute
					top: 7px
					right: 8px
					width: 4px
					height: 4px
			.links
				li
					margin-left: 25px
					&:first-child
						margin: 0
				span
					display: none
				i
					margin: 0
			.user
				margin: 5px 0 0 10px
.header__in
	position: relative
	min-height: 50px
	background: #FFF 	
	border-bottom: 1px solid $bg 
.header_no-login
	padding: 0
	&.is-fixed
		.links
			span
				display: inline-block
			i
				margin-right: 10px
	+rt(1k)
		padding: 52px 0 0 0 
		.login
			position: absolute
			top: -52px
			left: 0
			right: 0
			margin: 0
		.login__table
			display: table
			width: 100%
			background: #FFF 
		.login__row
			display: table-row
	.search-form
		width: 170px
			

.nav
	position: absolute
	top: 50px
	left: 0
	right: 0 
	background: #FFF
	border-top: 1px solid $bg 
	font-size: 0
	li
		position: relative
		display: inline-block
		width: 25%
		border-right: 1px solid $bg 
		vertical-align: top
		+box
		&:first-child
			border-left: 1px solid $bg 
		&.is-active	
			a
				&:after
					content: ""
					position: absolute
					left: -1px
					right: -1px
					bottom: 0
					height: 4px
					background: $org 
	a
		position: relative
		display: block
		height: 90px
		line-height: 86px
		text-align: center
		font-size: 16px
		color: $fc 
	i, span, strong
		display: inline-block
		vertical-align: top
	i
		position: relative
		top: 28px
		margin-right: 10px 
	strong
		position: relative
		top: 29px
		width: 30px
		height: 30px
		margin-left: 10px
		background: $red 
		border-radius: 50%
		+med
		line-height: 30px
		font-size: 12px
		text-align: center
		color: #FFF 
		overflow: hidden
	+rt(1k)
		.l-center
			padding: 0
		li
			&.is-active
				a
					&:after
						bottom: -1px
		a
			height: 50px
			line-height: 50px
		i
			top: 8px
			margin: 0
		span
			display: none
		strong
			position: absolute
			top: 7px
			right: 8px
			width: 4px
			height: 4px
.nav__ico-1
	+s(nav-ico1)
.nav__ico-2
	+s(nav-ico2)
.nav__ico-3
	+s(nav-ico3)
.nav__ico-4
	+s(nav-ico4)


.user
	position: relative
	float: right
	margin: 5px 0 0 25px 
	&:hover
		.user__dropdown
			display: block
.user__head
	cursor: pointer
	font-size: 0
	img, i
		display: inline-block
		vertical-align: middle
	img
		border-radius: 50%
	i
		margin-left: 6px
		+arr(10,6,#656d78,b)
.user__dropdown
	display: none
	position: absolute
	top: 50px
	right: 0
	width: 300px
	background: #FFF
	box-shadow: 0 10px 100px #656d77
	border-radius: 4px 
	z-index: 10 
	&:before
		content: ""
		position: absolute
		top: -10px
		right: 25px
		+arr(20,10,#fff,t)
.user__data, .profile__data
	padding: 15px
	font-size: 0
	.user__info, .user-pic, .profile__info
		float: none
		display: inline-block
		vertical-align: middle
		font-size: 12px
.user__info, .profile__info
	max-width: 155px
.user__name, .profile__name
	margin-bottom: 3px
	font-size: 16px
.user__stats, .profile__stats
	border: 1px solid $bg
	border-width: 1px 0
	font-size: 0
	li
		display: inline-block
		width: 33.3%
		padding: 15px 0
		border-left: 1px solid $bg 
		+box
		vertical-align: top
		text-align: center
		font-size: 10px
		&:first-child
			width: 33.4%
			border: none
	span
		display: block
		font-size: 30px
		line-height: 1.2
.profile__stats
	li
		padding: 0
		&.is-orange
			a
				color: $org 
	a
		display: block
		padding: 15px 0
.user__actions
	padding: 15px 20px
	+clr
.user__setting, .user__out
	i, span
		display: inline-block
		vertical-align: middle
	i
		margin-right: 8px
.user__setting
	float: left
	i
		+s(user-setting)
.user__out
	float: right
	color: #AAB2BD 
	i
		+s(user-out)
.profile
	margin-bottom: 20px
	background: #FFF
	border-radius: 4px 
.profile__action
	.btn
		font-size: 11px
	.btn_mod
		border-radius: 0 0 4px 4px
		box-shadow: 0 1px 0 rgba(255,255,255,.3) inset
.profile__deactivation
	padding: 15px 20px
	span
		display: block
		margin-bottom: 10px
		font-weight: bold
		


.search-form
	float: left
	width: 240px
	margin-top: 10px
	+rt(1k)
		width: 30px
	label
		position: relative
		display: block
	input
		width: 100%
		height: 30px 
		padding: 0 15px 0 30px
		background: $bg
		border-radius: 15px  
		+placeholder-color($fc)
		+rt(1k)
			width: 30px
			padding: 0 0 0 30px
	i
		position: absolute
		top: 7px
		left: 10px
		+s(search)
		+rt(1k)
			left: 8px




.field
	display: block
	span
		display: block
	&.is-error
		.field__el
			input
				padding: 0 13px
				border: 2px solid #da4352
				box-shadow: 0 0 0 2px #f8d9dc
.field__label
	margin-bottom: 5px
	font-size: 14px
.field__el
	input
		width: 100%
		height: 40px
		padding: 0 15px
		background: $bg 
		border-radius: 4px
		font-size: 14px
.field__help
	margin-top: 5px
	font-style: italic
	font-size: 11px
	color: #AAB2BD  
.field__error
	position: relative
	padding: 5px 0 0 25px
	color: #da4352
	i
		position: absolute
		top: 4px
		left: 1px
		+s(error)



.select
	position: relative
	select
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		padding: 0 15px
		-webkit-appearance: none
		opacity: 0
		cursor: pointer 
.select__head
	position: relative
	height: 40px
	border-radius: 4px
	background: $bg 
	padding: 0 20px 0 15px
	line-height: 40px
	+box
	font-size: 14px
	i
		position: absolute
		top: 18px
		right: 10px
		+arr(12,6,$fc,b)


.fieldset
	padding: 30px 15px
	background: #f9f9fa 
	.field
		margin-top: 10px
		&:first-child
			margin: 0
	.field__el, .field__label, .select
		display: inline-block
		vertical-align: middle
		+rt(1k)
			display: block
	.field__el, .select
		width: 260px
		+rt(1k)
			width: auto
	.field__label
		width: 175px
		margin-right: 18px
		text-align: right
		+rt(1k)
			width: auto
			margin: 0 0 5px
			text-align: left
	.checkbox, .field__error
		margin-left: 195px
		+rt(1k)
			margin: 0
.fieldset__password
	padding: 10px 0 15px 195px
	+rt(1k)
		padding: 10px 0 15px


.checkbox
	position: relative
	display: block
	padding-left: 30px
	+nosel
	input
		position: absolute
		top: 4px
		left: 4px
		opacity: 0 
		z-index: 2 
		&:checked + span
			&:after
				content: ""
				position: absolute
				top: 4px
				left: 4px
				width: 12px
				height: 12px
				background: $bl 
	span
		display: block
		padding: 2px 0
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 20px
			height: 20px
			background: $bg 



.ico-fb
	position: relative
	top: 3px
	display: inline-block
	margin-right: 10px
	+s(enter-fb)
.ico-quote
	+s(quote)
.ico-camera, .ico-camera-small
	display: inline-block
	+s(camera)
	vertical-align: top
.ico-camera-small
	+s(camera-small)
.ico-ribbon-white
	+s(ribbon-white)
.ico-ribbon-red
	+s(ribbon-red-ico)
.ico-check
	+s(check)
.ico-delete-big
	+s(delete-big)
.ico-star
	+s(star)
.ico-plus
	+s(plus)
.ico-lock
	+s(lock)
.ico-plus-black
	+s(plus-black)
.ico-plusfive
	+s(plusfive)

.warning
	+s(warning)
.like
	+s(like)
.edit
	+s(edit)
.close
	+s(close)
.delete
	+s(delete)
.delete-gray
	+s(delete-gray)
.fullscreen
	+s(fullscreen)
.ico-no-fullscreen
	+s(no-fullscreen)



