// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
+font(GothamProReg, gothaproreg)  
=reg
	font-family: "GothamProReg", Arial, sans-serif 
+font(GothamProMed, gothapromed)  
=med
	font-family: "GothamProMed", Arial, sans-serif 
+font(KlinicslabBold, klinicslabbold)  
=font
	font-family: "KlinicslabBold", Arial, sans-serif 
	

$bl: #4fc1e9
$bl-b: #3f9aba
$bld: #6c86bf
$bld-b: #566b99
$fc: #434a54
$link: #3bafda
$red: #ed5565
$org: #fc6e51
	
body
	background: #E6E9ED 
	+reg
	font-size: 12px 
	line-height: 1.4
	color: $fc
a
	color: $link 
	text-decoration: none
input, textarea, button
	+reg
	+box
	font-size: 12px
button
	background: none 

// common blocks
.l-center
	width: 1000px
	margin: 0 auto


.topper
	position: absolute
	top: 0
	left: 0
	right: 0
	height: 48px
	padding-left: 20px
	background: #FFF 
	border-bottom: #CCC 2px solid 
	+clr
.topper__right
	float: right
	a
		float: left
		width: auto
		height: 48px
		+med
		line-height: 48px
		color: #fff 
		font-size: 12px
		text-transform: none
	.topper__enter
		padding: 0 30px 
		border-left: #E6E9ED 1px solid
		color: $bl 
.topper__fb
	.ico-fb
		margin-left: 10px
.ico-fb
	position: relative
	top: 3px
	display: inline-block
	+s(enter-fb)
.logo
	float: left
	height: 48px
	+font
	font-size: 30px
	color: #656d78
	line-height: 48px 
	letter-spacing: -1px 
.logo-circle
	display: inline-block
	+s(logo-circle)



.btn-blue, .btn-dark-blue
	width: 100%
	height: 48px
	padding: 0 15px
	border-bottom: 2px solid
	line-height: 48px
	text-align: center
	font-size: 20px
	color: #FFF
	text-transform: uppercase
.btn-blue
	background: $bl 
	border-color: $bl-b
.btn-dark-blue
	background: $bld 
	border-color: $bld-b
	


.footer
	position: absolute
	left: 0
	right: 0
	bottom: 0
	padding: 15px 20px
.links
	float: right
	ul, li
		float: left
	li
		padding-left: 30px
		&:first-child
			padding: 0
	a
		display: block
		color: #AAB2BD 
	i, span
		display: inline-block
		vertical-align: middle
	i
		margin-right: 10px
.links__ico-1
	+s(links-ico1)
.links__ico-2
	+s(links-ico2)
.links__ico-3
	+s(links-ico3)
.copyright
	color: #AAB2BD
	a
		color: #AAB2BD 


.header
	height: 50px
	background: #FFF
	border-bottom: 1px solid #e6e9ed  
	.l-center
		+clr
	.logo
		margin-right: 35px 
	.links
		margin-top: 15px
.search-form
	float: left
	width: 240px
	margin-top: 10px
	label
		position: relative
		display: block
	input
		width: 100%
		height: 30px 
		padding: 0 15px 0 30px
		background: #e6e9ed
		border-radius: 15px  
		+placeholder-color($fc)
	i
		position: absolute
		top: 7px
		left: 10px
		+s(search)


.user
	float: right
	margin: 5px 0 0 25px 
	img, i
		display: inline-block
		vertical-align: middle
	img
		border-radius: 50%
	i
		margin-left: 6px
		+arr(10,6,#656d78,b)


.nav
	margin-bottom: 20px
	background: #FFF
	font-size: 0
	li
		display: inline-block
		width: 25%
		border-right: 1px solid #e6e9ed 
		vertical-align: top
		+box
		&:first-child
			border-left: 1px solid #E6E9ED 
		&.is-active	
			a
				&:after
					content: ""
					position: absolute
					left: -1px
					right: -1px
					bottom: 0
					height: 4px
					background: $org 
	a
		position: relative
		display: block
		height: 90px
		line-height: 90px
		text-align: center
		font-size: 16px
		color: $fc 
	i, span, strong
		display: inline-block
		vertical-align: middle
	i
		margin-right: 10px 
	strong, span
		line-height: 30px
	strong
		width: 30px
		height: 30px
		margin-left: 10px
		background: $red 
		border-radius: 50%
		+med
		font-size: 12px
		text-align: center
		color: #FFF 
.nav__ico-1
	+s(nav-ico1)
.nav__ico-2
	+s(nav-ico2)
.nav__ico-3
	+s(nav-ico3)
.nav__ico-4
	+s(nav-ico4)






