// Normally inner page styles
.add-task
	> .btn
		border-radius: 4px 4px 0 0 
		+rt(1k)
			margin-bottom: 10px
			border-radius: 4px
	& + .tasks
		border-radius: 0 0 4px 4px
.add-task__in
	padding: 15px 15px 20px
	background: #656d78 
	text-align: center
	.btn
		width: auto
		padding: 0 55px
		border-radius: 4px
		font-size: 11px 
.add-task__text
	margin-bottom: 15px
	font-size: 14px
	color: #fff 
.add-task__me
	margin-bottom: 20px
	+clr
	+rt(1k)
		margin-bottom: 10px
	.btn
		float: left
		width: 300px
		border-radius: 0 4px 4px 0
		font-size: 11px
		+rt(1k)
			width: 50%
			height: 40px
			line-height: 38px
			+med
			font-size: 9px
.add-task__stats
	float: left
	width: 700px
	height: 50px
	padding: 0 20px
	background: #FFF
	border-radius: 4px 0 0 4px
	border-bottom: 2px solid #ccc  
	line-height: 48px
	+box
	+rt(1k)
		width: 50%
		height: 40px
		background: $gray
		border-color: $gray 
		text-align: center
		line-height: 38px
		+med
		text-transform: uppercase
		font-size: 9px
		color: #FFF 
	p
		font-size: 16px
		+rt(1k)
			display: none
		a
			color: #ED5565 
	span
		display: none
		+rt(1k)
			display: block




.user-pic
	position: relative
	float: left
	width: 60px
	height: 60px
	border-radius: 50%
	background: url(../img/icons/user-pic.png) no-repeat 50% 50% #aab2bd 
	-webkit-background-size: 50% 50% 
	-o-background-size: 50% 50% 
	background-size: 50% 50% 
	margin-right: 15px
	img
		display: block
		border-radius: 50%	
	span
		position: absolute
		top: -4px
		right: -4px
		padding: 2px 5px
		border: 1px solid #e9573f
		border-radius: 2px
		background: $org
		color: #fff 
		+med 	
		&.is-empty
			background: #aab2bd
			border-color: #878f9a
.user-pic_middle
	width: 50px
	height: 50px
.user-pic_small
	width: 30px
	height: 30px
.user-pic_big
	width: 90px
	height: 90px
	span
		top: 0
		right: 0
	

.tasks
	padding: 15px 20px 15px 15px
	margin-bottom: 20px
	border-radius: 4px
	background: #FFF 
	+rt(1k)
		padding: 0
		background: none 
.tasks__item
	position: relative
	margin-bottom: 15px
	+clr	
	margin-bottom: 10px
	+rt(1k)
		border-bottom: #CCD1D9 2px solid
		border-radius: 4px 
		>.user-pic
			float: none
			position: absolute
			top: 65px
			left: 15px
			margin: 0
			width: 50px
			height: 50px
			z-index: 10
			img
				width: 100%
				height: 100%
	&.is-completed
		.tasks__top
			background: #DA4453
		.tasks__arr
			border-color: transparent #DA4453 transparent transparent
.tasks__in
	float: right
	width: 570px 
	padding-top: 5px
	+rt(1k)
		float: none
		width: auto
		padding: 0
.tasks__top
	position: relative
	padding: 10px 10px 10px 20px
	border-radius: 4px 4px 0 0 
	background: $fc
	+clr
.tasks__arr
	content: ""
	position: absolute
	top: 17px
	left: -9px
	+arr(9,18,$fc,l) 
	+rt(1k)
		display: none
.tasks__user
	float: left
	padding: 7px 0 
	font-size: 14px
	+med
	a
		color: #FFF 
.tasks__winner
	float: right
	font-size: 0
	.ico-ribbon-white, a, .user-pic
		display: inline-block
		vertical-align: middle
	.ico-ribbon-white, a
		margin-right: 10px
	.user-pic
		float: none
		margin: 0
		+rt(1k)
			display: none
	a
		+med
		font-size: 14px
		color: #FFF 
.tasks__container
	position: relative
.tasks__pic
	height: 340px
	+cover
.tasks__title
	position: absolute
	top: 0
	left: 0
	right: 0
	padding: 15px 20px 15px 60px
	+g(rgba(0,0,0,.7), rgba(0,0,0,0))
	font-size: 16px 		
	color: #FFF 
	+rt(1k)
		padding: 26px 20px 15px 80px
	.ico-quote
		position: absolute
		top: 18px
		left: 22px
		+rt(1k)
			display: none
.tasks__action
	position: absolute
	left: 0
	right: 0
	bottom: 0
	padding: 15px
	+g(rgba(0,0,0,0), rgba(0,0,0,.7))
	text-align: right
	font-size: 0
	button
		margin-left: 20px
.tasks__down
	border: 1px solid $bg
	border-radius: 0 0 4px 4px
	+rt(1k)
		background: #FFF 
		


.comment-stats
	padding: 10px 20px
	+clr
.comment-stats__time
	float: left
	margin-right: 30px
	+rt(1k)
		display: none
.comment-stats__go	
	float: left
.comment-stats__counter
	float: right
	

.add-comment
	position: relative
	display: none
	padding: 10px 15px 10px 70px
	border-top: 1px solid $bg 
	+clr
	+rt(1k)
		padding: 15px
	.user-pic
		position: absolute
		top: 10px
		left: 10px
		margin: 0
		+rt(1k)
			display: none
.add-comment__in	
	padding-top: 5px
.add-comment__form
	position: relative
	padding-right: 110px
	+rt(1k)
		padding: 0 0 40px 
	.btn
		position: absolute
		top: 0
		right: 0
		width: 110px
		border-radius: 0 4px 4px 0
		font-size: 11px	
		+rt(1k)
			top: 40px
			left: 0
			width: 100%
			border-radius: 0 0 4px 4px
.add-comment__field
	position: relative
	input
		width: 100%
		height: 40px 
		padding: 0 15px
		background: $bg
		border-radius: 4px 0 0 4px 
		font-size: 14px
		+rt(1k)
			border-radius: 4px 4px 0 0
	&:after
		content: ""
		position: absolute
		top: 14px
		left: -6px
		+arr(6,12,$bg,l)
		+rt(1k)
			display: none
.add-comment__symbols
	padding-top: 10px
	font-style: italic
	font-size: 11px
	color: #aab2bd 


.tabs
	margin-bottom: 20px
.tabs__nav
	font-size: 0
	+rt(1k)
		display: none
	button
		width: 50%
		height: 50px
		border-radius: 0 4px 0 0
		background: #fff 
		border-bottom: 2px solid #d4d8de
		line-height: 48px
		vertical-align: top
		+med
		font-size: 11px
		text-transform: uppercase
		&:first-child
			border-radius: 4px 0 0 0
		&.is-active
			background: #656d78
			border-color: #656d78
			color: #FFF  


.task
	+clr
.task__in
	position: relative
	float: left
	width: 190px
	margin-top: 5px
	&:hover
		.task__user, .task__comment
			display: block
.task__pic
	img
		display: block
		border-radius: 4px
.task__user
	display: none
	position: absolute
	top: 0
	left: 0
	right: 0
	padding: 7px 10px 35px 
	border-radius: 4px 4px 0 0
	+g(rgba(0,0,0,.7), rgba(0,0,0,0))
	color: #FFF 
.task__comment
	display: none
	position: absolute
	left: 0
	right: 0
	bottom: 0
	padding: 35px 10px 7px 
	border-radius: 0 0 4px 4px
	+g(rgba(0,0,0,0), rgba(0,0,0,.7))
	color: #FFF 
	i, span
		display: inline-block
		vertical-align: middle
	i
		position: relative
		top: 1px
		margin-right: 5px 
		+s(comment)


.popular
	.task
		padding: 15px 15px 20px
		background: #f9f9fa 
		border-bottom: 1px solid $bg 
		&:last-child
			border-radius: 0 0 4px 4px
		&:first-child
			+rt(1k)
				border-radius: 4px 4px 0 0
		&:hover
			background: #FFF 


.tasks-grid
	padding: 15px
	background: #FFF
	font-size: 0
	.task
		display: inline-block
		margin-bottom: 35px
		vertical-align: top 
		font-size: 12px
		+rt(1k)
			display: block
			margin-bottom: 15px
		&:last-child
			+rt(1k)
				margin: 0
		&:nth-child(2n)
			margin-left: 35px
			+rt(1k)
				margin-left: 0
	.task__in	
		width: 230px
		+rt(1k)
			width: 190px
			img
				width: 100%



.expert__item
	position: relative
	display: block 
	padding-left: 15px 
	background: #F4F5F7 
	box-shadow: 0 -1px 0 rgba(0,0,0,.07)
	font-size: 0 
	color: $fc 
	&:first-child

	&:last-child
		border-radius: 0 0 4px 4px
		.expert__counter
			border-radius: 0 0 4px 0
	&:hover
		background: #fff 
		.expert__counter
			background: #FC7D63 
	.user-pic, .expert__name, .expert__counter
		display: inline-block
		vertical-align: middle
		font-size: 12px
	.user-pic
		float: none
.expert__name
	width: 125px
	margin-right: 15px
	font-size: 14px
.expert__counter
	display: inline-block
	width: 68px 
	height: 90px
	background: #FC6E51 
	border-left: 2px solid #ca5841
	box-shadow: 0 1px 0 rgba(0,0,0,.1)
	line-height: 90px
	vertical-align: middle
	text-align: center
	+med
	font-size: 16px
	color: #FFF 




.my
	margin-bottom: 20px
.my__item
	position: relative
	margin-bottom: 20px 
	+rt(1k)
		margin-bottom: 10px
		border-bottom: #CCD1D9 2px solid 
		border-radius: 0 0 4px 4px
	&.is-closed
		.my__top	
			padding: 15px
			background: #da4453 
.my__in
	position: relative
	width: 700px
	+rt(1k)
		width: auto
.my__pic
	height: 550px
	border-radius: 4px 0 0 4px
	+cover
	+rt(1k)
		height: 300px
		border-radius: 4px 4px 0 0
.my__top
	position: absolute
	top: 0
	left: 0
	right: 0
	border-radius: 4px 0 0 0
	padding: 15px 90px 15px 15px
	+g(rgba(0,0,0,.7), rgba(0,0,0,0))
	+rt(1k)
		border-radius: 4px 4px 0 0
		padding: 15px 50px 15px 15px 
.my__top-user
	float: left
	.user-pic, .my__title
		float: none
		display: inline-block
		vertical-align: middle
	.user-pic
		width: 50px
		height: 50px
		img
			width: 100%
			height: auto
.my__winner
	float: right
	.ico-ribbon-white, .user-pic, .my__winner-user
		display: inline-block
		vertical-align: middle
	.ico-ribbon-white, .my__winner-user
		margin-right: 8px 
	.ico-ribbon-white
		+rt(1k)
			margin: -5px -5px 0 0
	.my__winner-user
		+med
		font-size: 14px
		color: #FFF 
		+rt(1k)
			display: none
	.user-pic
		float: none
		margin: 0
		+rt(1k)
			display: none
.my__title
	font-size: 16px
	color: #FFF 
	+rt(1k)
		width: 160px
.my__action
	position: absolute
	top: 15px
	right: 15px
	font-size: 0
	button
		margin-left: 20px
	+rt(1k)
		top: 10px
		right: 10px
		button
			margin-left: 15px
.my__comment-stats
	position: absolute
	top: 0
	right: 0
	width: 300px
	height: 50px
	padding: 15px
	border-radius: 0 4px 0 0 
	border-bottom: #D4D8DE 2px solid 
	background: #FFF 
	+box
	+rt(1k)
		display: none
	a
		+med
		color: #ED5565 
	i
		display: inline-block
		margin-right: 10px
		+s(comment-black)
		vertical-align: middle
	.fullscreen
		position: absolute
		top: 15px
		right: 15px
.my__btn-comment
	position: absolute
	bottom: 0
	right: 0
	width: 300px
	+rt(1k)
		display: none
	.btn
		border: 2px solid $bl-b
		border-width: 2px 0 0 0
		border-radius: 0 0 4px 
		font-size: 11px
.my__comments
	position: absolute
	top: 50px
	right: 0
	bottom: 50px
	width: 300px
	background: #FFF 
	overflow: auto
	&::-webkit-scrollbar
		width: 5px
	&::-webkit-scrollbar-thumb
		background: $gray
		border-radius: 3px
	&::-webkit-scrollbar-track-piece
		background: #fff
	+rt(1k)
		position: relative
		top: 0
		width: auto
		border-radius: 0 0 4px 4px
	.comment-stats, .add-comment, .no-fullscreen
		display: none
		+rt(1k)
			display: block
	.comment-stats
		border-bottom: 1px solid $bg
.my_popup
	background: #FFF 
	border-radius: 4px
	margin: 0
	.my__pic
		border-radius: 4px 4px 0 0
	.my__top
		border-radius: 4px 4px 0 0
	.my__in
		width: auto
	.my__comment-stats, .my__comments
		position: relative
		top: auto
		right: auto
		bottom: auto
		width: auto
	.my__comment-stats
		display: block
		border-radius: 0
	.my__comment-wrap
		+clr
		.my__comment-stats, .btn
			float: right
			width: 50%
			+rt(1)
				float: none
				width: 100%
		.btn
			font-size: 11px
			+rt(1k)
				height: 30px
				line-height: 28px
.no-fullscreen
	padding: 10px 0
	border-top: 1px solid $bg 
	text-align: center
	i, span, a
		display: inline-block
		vertical-align: middle
	i
		margin-right: 5px
	span
		color: #AAB2BD 



.comment__item
	padding: 10px
	border-top: #E6E9ED 1px solid 
	&:first-child
		border: none
	.user-pic
		margin-right: 10px
.comment__in
	padding-top: 5px
	overflow: hidden
.comment__top
	margin-bottom: 10px
	+clr
.comment__time
	float: right
	margin: 3px 0 0 10px
	font-size: 11px
.comment__name
	font-size: 14px
	color: #434A54
	a
		color: #434A54
.comment__text
	margin-bottom: 10px
.comment__down
	+clr
.comment__link
	float: left
	& + .comment__link
		margin-left: 30px
.comment__true
	float: right
	color: #ed5565 
	i, span
		display: inline-block
		vertical-align: middle
	i
		+s(ribbon-red)
	span
		margin-left: 8px
.comment__item_reply
	padding: 10px 10px 10px 30px
	background: #f9f9fa 
.comment__correct
	background: #da4453
	color: #fff 
	.comment__name
		color: #fff
		a
			color: #fff
	.comment__link
		color: #FFF 
	.comment__true
		i
			+s(ribbon-white)



.tasks-empty
	margin-bottom: 20px
	.btn
		border-radius: 0 0 4px 4px
		+rt(1k)
			font-size: 16px
.tasks-empty__in
	padding: 60px 60px 90px 
	border-radius: 4px 4px 0 0
	background: #656d78
	text-align: center
.tasks-empty__text
	margin-bottom: 30px
	color: #FFF
	font-size: 14px 



.activity 
	display: table
	width: 100%
	margin-bottom: 20px
	background: #FFF
	border-radius: 4px 
.activity__item
	display: table-row
	&:first-child
		.table__cell
			border: none
.activity__cell
	position: relative
	display: table-cell
	height: 60px
	padding: 15px
	border-top: 1px solid $bg
	vertical-align: middle
	&:first-child
		width: 50px
		+rt(1k)
			display: none
.activity__task
	position: relative
	width: 50px
	height: 50px
	.activity__task-in
		display: block
		img
			display: block
			border-radius: 4px
	.user-pic
		position: absolute
		top: -10px
		right: -10px
		margin: 0
		border: 3px solid #fff
.activity__time
	text-align: right
	+rt(1k)
		position: absolute
		top: 10px
		right: 10px
		white-space: nowrap
		font-size: 11px
		span
			display: none
.activity__user
	position: relative
	padding-left: 75px
	.user-pic, .ico-plusfive
		position: absolute
		top: 50%
		left: 0
		margin: -30px 0 0 0
.activity__user-in
	i
		position: relative
		top: -2px
		display: inline-block
		margin-right: 10px
		vertical-align: middle


.new
	margin-bottom: 20px
	>.btn
		border-radius: 0 0 4px 4px
.new__name
	margin-bottom: 20px
	+rt(1k)
		margin-bottom: 10px
	input
		width: 100%
		height: 50px
		padding: 0 18px
		border: 2px solid #a9b1bd
		border-radius: 6px
		background-color: #fff
		box-shadow: 0 0 0 2px #d3d7dd
		font-size: 16px 
		+placeholder-color($fc)
		+box
.new__layout
	background: #f9f9fa 
	border-radius: 4px 4px 0 0
	+clr
	+rt(1k)	
		background: none 
	.title
		display: none
		+rt(1k)
			display: block
			border-radius: 4px 4px 0 0
.new__photo
	float: left
	width: 400px 
	padding: 60px 150px 50px
	background: #656D78
	border-radius: 4px 0 0 0
	text-align: center
	+rt(1k)
		float: none
		width: auto
		margin-bottom: 10px
		padding: 90px 0 0 0
		border-radius: 0 0 4px 4px
	.ico-camera
		margin-bottom: 50px
		+rt(1k)
			margin-bottom: 90px
.new__photo-text
	margin-bottom: 40px
	font-size: 14px
	color: #fff 
	+rt(1k)
		display: none
.new__photo-btns
	width: 300px
	margin: 0 auto 
	+rt(1k)
		width: auto
	.btn
		font-size: 11px
	.btn_black	
		border-radius: 4px 4px 0 0
		+rt(1k)
			border-radius: 0
	.btn_fb
		border-radius: 0 0 4px 4px
.new__detail
	float: left
	width: 300px 
	+rt(1k)
		float: none
		width: auto 
		background: #fff 
	.title
		border-radius: 0 4px 0 0
		+rt(1k)
			border-radius: 4px 4px 0 0
.new__detail-in
	.field
		padding: 15px 20px 
		border-top: 1px solid $bg
		&:first-child
			border: none



.title
	height: 50px
	padding: 0 20px
	border-bottom: #D4D8DE 2px solid 
	background: #FFF
	line-height: 48px
	+box




.friends__value
	margin-bottom: 20px
	+clr
	+rt(1k)
		margin-bottom: 10px
	.title, .btn
		float: left
		width: 50%
	.btn
		border-radius: 0 4px 4px 0
		font-size: 11px
		+rt(1k)
			width: 100%
			height: 40px
			line-height: 40px
			border-radius: 4px
	.title
		border-radius: 4px 0 0 4px
		font-size: 16px
		+rt(1k)
			display: none
.friends__list
	margin-bottom: 20px
	background: #FFF
	border-radius: 4px 
.friends__item
	position: relative
	padding: 15px
	border-top: 1px solid $bg 
	font-size: 0
	white-space: nowrap
	&:first-child
		border: none
	.user-pic
		float: none
		display: inline-block
		vertical-align: middle
		font-size: 12px
.friends__details, .friends__action
	display: inline-block
	vertical-align: middle
	font-size: 12px
	white-space: normal
.friends__details
	width: 290px
	margin-right: 20px
	+rt(1k)
		width: 64%
.friends__action
	width: 230px
	+rt(1k)
		display: none
	li
		margin-top: 5px
		&:first-child
			margin: 0
.friends__name
	margin-bottom: 5px
	font-size: 16px
	line-height: 1.2
	a
		color: $fc 
.friends__city
	color: $gray 
.friends__mark
	margin-bottom: 20px
	text-align: center
	&.is-fixed
		position: fixed
		bottom: 0
		left: 50%
		width: 680px
		margin: 0 0 0 -500px
		a
			display: block
			padding: 15px
			background: rgb(0,0,0) 
			background: rgba(0,0,0,.5) 
			color: #FFF 
		+rt(1k)
			left: 0
			right: 0
			bottom: 37px
			width: auto
			margin: 0
			z-index: 200 
.friends__request
	.title
		padding: 0 15px 0 12px
		border-radius: 4px 4px 0 0
		+rt(1k)
			display: none
		i
			position: relative
			top: -2px
			display: inline-block
			margin-right: 12px
			vertical-align: middle
	.friends__item
		background: #f9f9fa
		border-radius: 0 0 4px 4px
		&:hover
			background: #fff 
		+rt(1k)
			background: #FFF 
	.friends__details
		width: 195px
		margin: 0
	.friends__name
		margin-bottom: 10px
	.friends__action
		width: auto
		li
			display: inline-block
			margin: 0
			&:first-child
				margin-right: 25px 
				font-weight: bold
		+rt(1k)
			display: block
.friends__counter
	position: absolute
	top: 15px
	right: 15px
	width: 30px
	height: 30px
	background: #ED5565
	border-radius: 50%
	color: #fff  
	text-align: center
	line-height: 30px
	font-size: 12px
	+rt(1k)
		top: 10px
		right: 10px
.friends_wide, .friends_wide-popup
	.friends__value
		.btn
			width: 340px
		.title
			width: 660px
	.friends__mark
		&.is-fixed
			width: 1000px
			+rt(1k)
				width: auto
	.friends__list
		font-size: 0
	.friends__item
		display: inline-block
		width: 50%
		margin-top: -1px
		border-bottom: 1px solid $bg 
		vertical-align: top
		+box
		&:nth-child(2n+1)
			border-right: 1px solid $bg 
		&:nth-child(2)
			border-top: none 
.friends_wide
	.friends__details
		width: 150px
	.friends__action
		width: 160px
.friends_wide-popup
	.title
		&:first-child
			border-radius: 4px 4px 0 0
	.friends__list
		margin: 0
		background: #F9F9FA 
		border-radius: 0
	.friends__list_mod
		border-radius: 0 0 4px 4px
		overflow: hidden
	.title_mod
		margin-top: -1px
		border-top: 1px solid $bg
	.friends__details
		width: 220px
	.friends__action
		width: 150px
		text-align: right
	.friends__action_orange
		a
			color: $org 

		


.popup
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	padding: 30px 0
	background: rgb(101,109,120)  
	background: rgba(101,109,120,.9)
	z-index: 2000 
	overflow: auto
	+rt(1k)
		padding: 10px
.popup_enter
	padding: 100px 0
	+rt(1k)
		padding: 10px
	.popup__in
		width: 680px
		+rt(1k)
			width: auto
.popup__in
	width: 1000px
	margin: 0 auto
	border-radius: 4px
	+rt(1k)
		width: auto
	  

.ava, .setting
	margin-bottom: 20px
	>.btn
		border-radius: 0 0 4px 4px
		font-size: 11px
.ava
	.title
		border-radius: 4px 4px 0 0
.setting
	.title
		&:first-child
			border-radius: 4px 4px 0 0
	.field__label
		+rt(1k)
			display: none
	.field__el, .select
		+rt(1k)
			width: 100%
	.field__el
		input
			+placeholder-color($fc)
			+placeholder
				font-size: 0
				color: $bg
				+rt(1k)
					font-size: 14px
					color: $fc
.ava__in
	position: relative
	padding: 30px
	background: #f9f9fa
	text-align: center
	font-size: 0
	.user-pic
		float: none
		display: inline-block
		margin: 0
		font-size: 12px
	.delete-gray 
		position: absolute
		top: 15px
		right: 15px
.ava__load-in
	padding: 25px 50px 95px
	background: $gray
	text-align: center
	+rt(1k)
		padding: 90px 0
.ava__load-text
	margin-bottom: 25px
	color: #FFF 
	+rt(1k)
		display: none
.ava__load
	.btn
		font-size: 11px
	.btn_fb
		border-radius: 0 0 4px 4px


.enter
	>.btn
		border-radius: 0 0 4px 4px
		font-size: 11px
.enter__header
	+clr
	.title, .btn
		float: left
		width: 50%
	.title
		border-radius: 4px 0 0 0
		+rt(1k)
			width: 22%
			font-size: 11px
	.btn
		border-radius: 0 4px 0 0
		font-size: 11px
		+rt(1k)
			width: 78%
			padding: 0




.alert
	>.btn
		border-radius: 0 0 4px 4px
		font-size: 11px
.alert__in
	position: relative
	padding: 70px
	border-radius: 4px 4px 0 0
	background: #FFF 
	text-align: center
	.close
		position: absolute
		top: 15px
		right: 15px
	>i
		display: inline-block
		margin-bottom: 25px
		vertical-align: top
.alert__text
	+med
	font-size: 14px


.tabs-nav
	display: none
	margin-bottom: 10px
	font-size: 0
	+rt(1k)
		display: block
	button
		width: 50%
		height: 40px
		padding: 0 5px
		border: 2px solid $gray 
		border-width: 2px 2px 2px 0
		border-radius: 0 4px 4px 0
		+med
		font-size: 9px
		text-transform: uppercase
		vertical-align: top
		span
			color: #ed5565 
		&:first-child
			border-width: 2px 0 2px 2px 
			border-radius: 4px 0 0 4px
		&.is-active
			background: $gray 
			color: #fff
			span
				color: #fff 
.tabs-nav__three
	button
		width: 33.3%
		&:nth-child(2)
			border-radius: 0














